@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ElsieSwashCaps";
  src: url("/fonts/ElsieSwashCaps/ElsieSwashCaps-Black.ttf") format("truetype"),
    url("/fonts/ElsieSwashCaps/ElsieSwashCaps-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ruluko";
  src: url("/fonts/Ruluko/Ruluko-Regular.ttf") format("truetype");
}

html {
  font-size: 18px;
}

body {
  background-color: #1f1f1f;
  color: #fefefe;
}
